
@import "styles.scss";
body{
    display: block;
    position: relative;
    height: 100%;
}

.header{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
.swiper {
    width: 100%;
    height: 100%;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .swiper-wrapper {
    display: flex;
    align-items: center; 

    flex-direction: column;
  }
  .custom-next{
    position: fixed;
    z-index: 1;
    display: block;
    height: 50px;
    bottom: 28px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    background: transparent;
    border: 0;
}
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  