@import "./header/header.scss";
body{
    font-family: 'Avenir Next', sans-serif;
    font-weight: 500;
}
.container{
    width: calc(100% - 136px);
    max-width: 1440px;
    margin: 0 auto;
    @media (max-width:991px) {
        width: calc(100% - 40px);
    }
}